:root {
  /* fonts */
  --sans-serif: "karu", helvetica, arial, sans-serif;
  --serif: "didonesque", garamond, serif;

  /* typography */
  --paragraph-size: calc(var(--unit) * 4);

  /* colors */
  --primary: #278384;
  --primary-dark: #153334;
  --primary-light: #12a79d;
  --secondary: #231f20;

  /* grid */
  --unit: 4px;

  /* misc */
  --transition: 300ms ease-in;

  @media print {
    --unit: 3pt;
    --paragraph-size: calc(var(--unit) * 4);
  }
}
